<div class="arrow-nav">
  <span class="arrow prev"></span>
  <div id="title-date"></div>
  <span class="arrow next"></span>
  <a class="button-add" href="recordAdd">
      Добавить новую запись
  </a>
</div>
<div id="calendar"></div>
