@import "reset.css";

body {
  font-family: sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  border-bottom: 1px solid #bbbabb;
  padding-top: 30px;
  padding-bottom: 30px;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

.nav li {
  margin-left: 25px;
}

.nav li a {
  text-decoration: none;
  font-size: 18px;
  color: #bbbabb;
}

.nav li a:hover {
  color: #000000;
  transition: 0.5s;
}

.title {
  font-size: 35px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: 30px;
}

.form-container {
  max-width: 600px;
  margin: 0 auto;
}

.form-container input {
  width: 100%;
  margin: 5px 0 20px 0;
  border-radius: 4px;
  border-style: groove;
}

.form-container input[type="text"], .form-container input[type="email"], .form-container input[type="password"], .form-container input[type="date"], .form-container input[type="time"] {
  padding: 5px;
}

.form-container button {
  background-color: white;
  border-radius: 4px;
  padding: 10px 25px;
  border-style: groove;
}

.form-container button:hover {
  background-color: #eee9e4;
}

.message {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 5px 0 5px 0;
}

.message p {
  margin-left: 10px;
  margin-right: 10px;
}

.success {
  background-color: #85d583;
  color:#1a5715;
}

.danger {
  background-color: #e87e88;
  color: #940a0a;
}

.google-reg {
  text-decoration: none;
  color: #69676a;
  font-size: 14px;
  margin-left: 30px;
  display: none;
}

.google-reg:hover {
  transition: 1s;
  color: #38a839;
}

#calendar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#title-data {
  width: 100%;
  display: flex;
}

#title-date p {
  text-align: center;
  padding: 10px 5px 10px 5px;
}

.arrow-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 15px;
  flex-wrap: wrap;
}

.arrow {
  width: 30px;
  height: 30px;
  background-size: cover;
}

.prev {
  background-image: url(../image/left-arrow.png);
  cursor: pointer;
}

.prev:hover {
  background-color: #bbbbbb;
}

.next {
  background-image: url(../image/right-arrow.png);
  cursor: pointer;
}

.next:hover {
  background-color: #bbbbbb;
}

.day {
  width: 170px;
  box-sizing: border-box;
  background-color: #e8e9ee;
}

.day p {
  padding: 10px 0 10px 0;
  text-align: center;
}

.cell {
  width: 170px;
  min-height: 100px;
  border: 1px solid #bbbbbb;
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 4px;
}

.cell:hover {
  background-color: #f7f7f6;
  transition: 1s;
}

.button-add {
  border: 1px solid #278761;
  color: #278761;
  background-color: white;
  border-radius: 4px;
  padding: 10px 25px;
  border-style: groove;
  text-decoration: none;
}

.button-add:hover {
  color: #278761;
  background-color: #e8e9ee;
}

textarea {
  width: 100%;
  margin: 5px 0 20px 0;
  border-radius: 4px;
  border-style: groove;
  padding: 5px;
}

.record-wrapper {
  background-color: #fa844a;
  padding: 3px;
  margin-bottom: 3px;
}

.record-wrapper a {
  text-decoration: none;
  color: #3d3e41;
}

.event-container {
  width: 70%;
  padding: 30px;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.members-container {
  width: 30%;
  padding: 30px;
  box-sizing: border-box;
  border-left: 1px solid #bab5b5;
}

.event-container p {
  margin-bottom: 15px;
}

.event-title {
  font-size: 18px;
  margin-bottom: 3px;
  font-weight: 600;
}

.button-del {
  border: 1px solid #911111;
  color: #911111;
  background-color: white;
  border-radius: 4px;
  padding: 10px 25px;
  border-style: groove;
  text-decoration: none;
}

.button-del:hover {
  background-color: #e8e9ee;
}

.wrapper .button-del {
  margin-right: 20px;
  margin-left: 30px;
}

.members-container p {
  margin-top: 3px;
}

.users-popup {
  width: 1150px;
  height: 500px;
  border: 1px solid #646565;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -575px;
  background-color: #ffffff;
  display: none;
  overflow-y: scroll;
}

.button-close {
  border: 1px solid #565857;
  color: #767978;
  background-color: white;
  border-radius: 4px;
  padding: 10px 25px;
  border-style: groove;
  position: absolute;
  left: 500px;
  bottom: 30px;
}

.button-close:hover {
  background-color: #e8e9ee;
}

.freeUser{
  padding: 5px 20px 5px;
  background-color: #f7f6f6;
  margin-top: 3px;
  width: 100%;
  text-decoration: none;
  display: block;
  color: #1a1b1a;
  box-sizing: border-box;
}

.freeUser:hover{
  border: 1px solid #bff0b3;
}

.popup-title {
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  background-color: #f6f4bc;
}

footer {
  margin-top: 90px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #bbbabb;
}

footer p {
  margin-left: 30px;
}
